<div id="finances" class="my-0 flex-1 w-full max-w-[420px] md:max-h-[95vh] md:rounded-lg p-3 bg-neutral-100 dark:bg-neutral-800">
  <h1>Finances#show</h1>
  <p>Find me in app/views/finances/show.html.erb</p>
</div>
