<%# app/views/balance/applet.html.erb. %>
<%# This view is the base of Bdgtr's balance section. The client should interact with it using Turbo. %>
<div
  id="balance"
  class="
    flex-1 w-full max-w-[420px] md:max-h-[95vh]
    m-0 p-3 relative md:rounded-lg
    bg-neutral-100 dark:bg-neutral-800
    grid grid-rows-applet
  "
  data-controller="modal"
>
  <div id="toasts" class="absolute flex flex-col justify-center items-center gap-2 z-50 top-0 w-full p-3"></div>
  <%= render partial: "layouts/modal" %>
  <div id="header" class="pb-3 pt-5 flex justify-between items-center">
    <div id="title" class="flex justify-end items-center">
      <h1 class="text-3xl">Balance</h1>
    </div>
    <a
      class="py-2 px-3 rounded-lg cursor-pointer"
    >
      Add
    </a>
  </div>

  <%=
    turbo_frame_tag :transactions,
                    class: "overflow-auto"
  %>

  <%= render partial: "layouts/menu" %>
</div>
