<div id="menu" class="pt-3 flex w-full gap-2">
  <%=
    link_to finances_path, class: menu_item_classes(item_controller: "finances", current_controller: controller_name) do
  %>
    <div class="h-[25px] w-[25px] bg-amber-500 rounded-lg mb-2"></div>
    <span>Finances</span>
  <% end %>
  <%=
    link_to balance_path, class: menu_item_classes(item_controller: "balance", current_controller: controller_name) do
  %>
    <div class="h-[25px] w-[25px] bg-amber-500 rounded-lg mb-2"></div>
    <span>Balance</span>
  <% end %>
</div>