<div id="menu" class="pt-3 flex w-full">
  <%=
    link_to "Finances",
            finances_path,
            class: menu_item_classes(item_controller: "finances", current_controller: controller_name)
  %>
</div>