<div id="modal" data-modal-target="modal" class="absolute hidden flex-col top-0 right-0 bottom-0 left-0 z-40">
  <div class="flex-grow flex flex-col md:rounded-t-lg relative">
    <div class="flex-grow block bg-neutral-950 opacity-60" data-action="click->modal#close"></div>
    <div
      class="block pt-3 px-3 rounded-t-lg absolute bottom-0 left-0 right-0 bg-neutral-100 dark:bg-neutral-800"
    ></div>
  </div>
  <div
    id="modal_body"
    class="px-3 pb-3 md:rounded-b-lg h-fit max-h-[80%] bg-neutral-100 dark:bg-neutral-800 overflow-auto"
  ></div>
</div>